
<div class="container">


  <div class= "col-xs-12 col-md-8 offset-md-2">
    <h1>Add a cocktail:</h1>
    <%= render 'form', cocktail: @cocktail %>

    <%= link_to 'Back', cocktails_path %>
  </div>
</div>
